In [1]:
import pandas as pd
import seaborn as sns
import ast
from scipy.stats import spearmanr
from preprocessing import get_participant_names

# global variables
data_path = 'data/'
rank_result_path = 'rank-result/'

# get participant names
names = get_participant_names(data_path)
print('participants names: ', names)
print('participant num: ', len(names))

# generate rank
if not os.listdir(rank_result_path):
    from rank_utility import *
    # - click rank
    click_rank_files = [f for f in os.listdir(data_path) if "click_rank" in f]
    generate_click_rank(data_path, click_rank_files)
    # - general rank
    pairwise_rank_files = [f for f in os.listdir(data_path) if "pairwise_rank" in f]
    generate_pairwise_rank(data_path, pairwise_rank_files)

participants names:  ['hu', 'mh', 'an', 'mr', 'xiao', 'lr', 'yx', 'hw', 'huy', 'co', 'yz', 'lf', 'jt', 'ts', 'dao', 'yq']
participant num:  16

# Single Analysis

In [2]:
click_rank_data = pd.read_csv(rank_result_path + 'click_rank_result.csv')
pairwise_rank_data = pd.read_csv(rank_result_path + 'pairwise_rank_result.csv')
print(click_rank_data.dtypes, '\n')
print(pairwise_rank_data.dtypes)

tester               object
click_grid_1_rank    object
click_grid_2_rank    object
dtype: object

tester             object
pwc_grid_1_rank    object
pwc_grid_1_2       object
pwc_grid_2_rank    object
pwc_grid_1_w       object
dtype: object

In [3]:
name = 'huy'

row = click_rank_data[click_rank_data['tester'] == name]
clk_1 = ast.literal_eval(row['click_grid_1_rank'].values[0])
clk_2 = ast.literal_eval(row['click_grid_2_rank'].values[0])

row = pairwise_rank_data[pairwise_rank_data['tester'] == name]
pw_1 = ast.literal_eval(row['pwc_grid_1_rank'].values[0])[0:-2]
pw_2 = ast.literal_eval(row['pwc_grid_2_rank'].values[0])[0:-2]

cor_1, pval_1 = spearmanr(clk_1, pw_1)
print(spearmanr(clk_1, pw_1))
print(spearmanr(pw_1, clk_1))
print(cor_1, pval_1)

SpearmanrResult(correlation=0.4285714285714286, pvalue=0.3965014577259474)
SpearmanrResult(correlation=0.4285714285714286, pvalue=0.3965014577259474)
0.4285714285714286 0.3965014577259474

# Batch Analysis

In [4]:
result = []

for name in names:
    row = click_rank_data[click_rank_data['tester'] == name]
    clk_1 = ast.literal_eval(row['click_grid_1_rank'].values[0])
    clk_2 = ast.literal_eval(row['click_grid_2_rank'].values[0])

    row = pairwise_rank_data[pairwise_rank_data['tester'] == name]
    pw_1 = ast.literal_eval(row['pwc_grid_1_rank'].values[0])[0:-2]
    pw_2 = ast.literal_eval(row['pwc_grid_2_rank'].values[0])[0:-2]
    
    cor_1, pval_1 = spearmanr(clk_1, pw_1)
    cor_2, pval_2 = spearmanr(clk_2, pw_2)
    
    result.append({'name': name,
                   'grid_1_cor': cor_1,
                   'grid_1_pval': pval_1,
                   'grid_2_cor': cor_2,
                   'grid_2_pval': pval_2,})

result = pd.DataFrame(result, columns=['name', 'grid_1_cor', 'grid_1_pval', 'grid_2_cor', 'grid_2_pval'])
result

    name  grid_1_cor  grid_1_pval  grid_2_cor  grid_2_pval
0     hu    0.942857     0.004805    0.942857     0.004805
1     mh   -0.085714     0.871743   -0.142857     0.787172
2     an    0.942857     0.004805    0.942857     0.004805
3     mr    1.000000     0.000000    0.771429     0.072397
4   xiao    0.257143     0.622787    0.257143     0.622787
5     lr    1.000000     0.000000    0.657143     0.156175
6     yx    0.942857     0.004805   -0.200000     0.704000
7     hw    0.828571     0.041563    0.714286     0.110787
8    huy    0.428571     0.396501    0.942857     0.004805
9     co   -0.200000     0.704000    0.428571     0.396501
10    yz    0.542857     0.265703    1.000000     0.000000
11    lf    0.142857     0.787172    1.000000     0.000000
12    jt    0.485714     0.328723   -0.085714     0.871743
13    ts    0.600000     0.208000    0.200000     0.704000
14   dao    0.771429     0.072397    0.942857     0.004805
15    yq    1.000000     0.000000    0.542857     0.265703